*{
			box-sizing: border-box;
		}
		h1{
			text-align: center;
		}
		div{
			margin: none;
		}
		
		div div{
			border: 1px solid black;
			background-color: #9799A9;
			text-align: justify;
			clear:right;
			/*padding:0px px 0px 10px;*/

			margin-right: 13px;
			margin-bottom: 10px;
			box-sizing: border-box;


			

		}
		h3{
			
			
			
			
			position:relative;
			top:-7px;
			left:-.5px;
			
			float: right;
		}
		p{
			clear:right;
			text-indent: 20px;
		}
		#chi{
			background-color: #CB4335;
			position: relative;
			top:-19px;
			right:-7px;

			
		}
		#beef{
			background-color: #6E2C00;
			position: relative;
			top:-19px;
			right:-9px;
			
		}
		#sushi{
			background-color: #D4AC0D;
			position: relative;
			top:-19px;
			right:-7px;
		}
		
			
			

		

		
		@media(min-width: 992px){
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			float: left;

			

		}
		.col-lg-1{
			width:8.33% ;
		}
		.col-lg-2{
			width:16.66% ;
		}
		.col-lg-3{
			width:25% ;
		}
		.col-lg-4{
			width: 31.8%;
		}
		.col-lg-5{
			width:41.66% ;
		}
		.col-lg-6{
			width:50% ;
		}
		.col-lg-7{
			width:58.33% ;
		}
		.col-lg-8{
			width:66.66% ;
		}
		.col-lg-9{
			width:74.99% ;
		}
		.col-lg-10{
			width:83.33% ;
		}
		.col-lg-11{
			width:91.66% ;
		}
		.col-lg-12{
			width:100% ;
		}
	}
	@media(min-width: 768px) and  (max-width: 991px){
		.col-mg-1, .col-mg-2, .col-mg-3, .col-mg-4, .col-mg-5,.col-mg-6, .col-mg-7, .col-mg-8, .col-mg-9, .col-mg-10, .col-mg-11, .col-mg-12{
			float: left;
			
		}
		.col-mg-1{
			width: 8.33%
		}
		.col-mg-2{
			width:16.66% ;
		}
		.col-mg-3{
			width:25% ;
		}
		.col-mg-4{
			width: 30%
		}
		.col-mg-5{
			width:41.66% ;
		}
		.col-mg-6{
			width:48% ;
		}
		.col-mg-7{
			width:58.33% ;
		}
		.col-mg-8{
			width:66.66% ;
		}
		.col-mg-9{
			width:74.99% ;
		}
		.col-mg-10{
			width:83.33% ;
		}
		.col-mg-11{
			width:91.66% ;
		}
		.col-mg-12{
			width:97.4% ;
		}

	}
	@media(max-width:767px){
		p{
		width:100%;
	}
	}
